{{ ansible_managed | comment }}

{{ var_sudo_logfile }} {
    compress
    rotate 7
    daily
    missingok
    {% if var_send_mail and var_mail_address is not none %}
    mail var_mail_address
    {% else %}
    nomail
    {% endif %}
}
